modules = ["python-3.11"]
[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "QuizBot"

[[workflows.workflow]]
name = "QuizBot"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run Home.py"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "streamlit run Home.py"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80
